// Cores
$black: #9499b3;
$white: #ffffff; 

$lightgray: #efefef;
$mediumgray: #C0BFD6;
$darkgray: #312F4F;

$color-accent: #312f4f;
$color-details: #696d8c;

// Fontes
$font-family-body: "Montserrat", sans-serif; 
$font-family-title: "Montserrat", cursive; 

$font-size-base: 14px;
$font-line-height: 1.5;
$font-weight-base: 500;

$font-size-small: 0.857rem;
$font-size-big: 1.143rem;
$font-size-subtitle: 1.3rem;
$font-size-title: 2.6rem;

// Media containers
$xlg-media-query: 1920px;
$lg-media-query: 1440px;
$md-media-query: 1024px;
$sm-media-query: 768px;
$xs-media-query: 375px;
$xxs-media-query: 320px;
