<button
  class="cart"
  data-action="open-cart"
  type="button"
  aria-label="Abrir carrinho"
  data-toggle-cart
>
  <svg class="icon">
    <use xlink:href="#icon-cart" />
  </svg>
  <span class="count" data-cart-count>
    0
  </span>
</button>
