<div class="search">
  <form action="{{ search_url }}">
    <button class="search-icon" data-action="show-form-search">
      <svg class="icon">
        <use xlink:href="#icon-search"></use>
      </svg>
    </button>
    <input type="search" name="q" required placeholder="Buscar"/>
  </form>
</div>
