<footer class="footer">
  <div class="content">
    {% render "partials/footer/banner" %}
    {% render "partials/footer/newsletter", current_shop: current_shop %}
    {% render "partials/footer/social", current_shop: current_shop %}
    {% render "partials/footer/paragraph" %}
    {% render "partials/footer/categories" %}
    {% render "partials/footer/payment" %}
    {% render "partials/footer/signature" %}
  </div>
</footer>
