.search {
  border: 1px solid $color-accent;
  border-radius: 0.3rem;
  align-self: center;

  @include media("xs") {
    order: 4;
    flex: 1 0 100%;
    margin-top: 0.14rem;
    margin-bottom: 1.14rem;
  }

  form {
    input {
      height: 1.2rem;
      padding: 0;
      line-height: 1.1em;
      border: 0 solid transparent;
      width: 17.5rem;
      letter-spacing: 0.5px;
      font-size: $font-size-small;
      box-shadow: 0 2px 0 transparent;
      transition: all 500ms ease;
      font-weight: 500;
      background-color: transparent;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $color-details;
      }
    }
  }

  .search-icon {
    padding: 0.3rem 0.5rem;
    vertical-align: middle;
    height: 1.786rem;
  }
}
