@import "../base/variables", 
        "../base/mixins";

@import "../components/home/categories/item", 
        "../components/products/grid",
        "../components//tag/filters",
        "../components/tag/breadcrumb";

.page-tag, .page-search {
  main {
    .section-header{
      margin-top: 20px;
      justify-content: center;
    }
    .tag.category.item {
      .card {
        width: 100%;
        align-items: flex-start;
        @include media('xs'){
          transform: translate(0, 0);
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        min-height: unset;
        h1 {
          font-size: $font-size-subtitle;
          color: $color-accent;
          margin: 10px 0;
        }
        .upper-title {
          text-transform: uppercase;
          font-weight: 400;
          font-size: .9rem;
          color: $color-accent;
        }
        h2 {
          font-size: 1rem;
          text-align: left;
        }
        .description {
          text-align: left;
          padding: 0;
          max-width: 500px;
          font-size: $font-size-small;
          color: $color-accent;
        }
      }
    }
    > div {
      margin-bottom: 30px;

      @include media("md") {
        margin-bottom: 2.6rem;
      }
    }

    .banner {
      margin-bottom: 1.5rem;
    }

    .actions {
      color: $color-accent;
      display: none;

      button {
        border: solid 2px $color-accent;
        border-radius: 4px;
        width: 100%;
        height: 2rem;
      }

      @include media("xs") {
        display: block;
        margin-bottom: 1.5rem;
      }
    }

    .container > .content {
      display: flex;
      position: relative;
      min-height: 400px;
      .filters {
        width: 20%;
        margin-right: 2rem;

        &.open {
          display: flex;
        }

        @include media("xs") {
          display: none;
          position: absolute;
          margin-right: 0;
          width: 55%;
          right: -5%;
          z-index: 5;
          background-color: $white;
          padding: 2rem;
          box-shadow: 0px 4px 16px $black;

          > button {
            display: block;
          }
        }

        @include media("xs") {
          width: 110%;
          right: auto;
          margin-left: calc(50% - 50vw);
          margin-right: calc(50% - 50vw);

          &.open {
            height: 100%;
          }
        }
      }

      .products {
        &.grid {
          width: 100%;

          .content {
            @include media('xs'){
              width: 100%;
            }
            > div {
              flex: 0 0 23%;
              margin-right: 2%;
            }
          }

          @include media("xs") {
            .content {
              width: 100%;
              flex: auto;
              flex-direction: row;
              > div {
                flex: 0 0 48%;
              }
            }
          }
        }
      }
    }
  }
}
