<div class="product-name-price" data-name-price>
  <div class="name-reference">
    <p class="reference">{{ product.reference }}</p>
    <h1 class="title">{{ product.name }}</h1>
  </div>

  <div class="price-info">
    <div data-was-processed="false" 
      data-sku="" data-init-price=
      '{ 
        "productId": {{ product.id }}, 
        "showInstallmentsWithoutInterest": true, 
        "showInstallmentsWithInterest": false, 
        "mode": "short"
      }'
    ></div>
  </div>
</div>
