<div class="shipping" data-shipping-calculator>
  <form action="">
    <div class="form-group">
      <div class="zip-header">
        <label for="cep">
          calcular frete e prazo
        </label>
      </div>
      <div class="cep-wrapper">
        <input name="cep" maxlength="9" placeholder="CEP" type="text" required class="cep"/>
        <button type="submit" class="btn-submit" text-original="calcular" text-progress="calculando">calcular</button>
      </div>
    </div>
  </form> 
  <div class="list-shipping" data-list-shipping></div>
</div>
