> .banners {
  width: 25%;

  .banner {
    &:hover .image img {
      transform: scale(1.2);
    }

    a {
      display: block;
    }

    .image {
      overflow: hidden;
    }

    .image img {
      transition: all 2s linear;
      width: 100%;
    }

    h1,
    h2,
    h3,
    h4 {
      font-size: 1.1rem;
      line-height: 1.5;
      font-weight: bold;
    }

    p {
      font-weight: normal;
      line-height: 1.5;
    }

    figcaption {
      padding-top: 0.7rem;
    }

    > .arrow {
      font-size: 0.75rem;
      padding-top: 1.25rem;
    }
  }
}
