@import "../../../base/variables", 
        "../../../base/mixins";

> .banners {
  margin: 1.5rem;

  &.mm-listitem:after {
    border: 0;
  }

  .banner {
    display: flex !important;
    position: relative;

    &.mm-panel {
      transform: none;

      &:after {
        height: 0;
      }
    }

    .arrow {
      font-size: 0.75rem;

      &::after {
        content: "";
        border: solid $color-accent;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        margin: 3px 3px 1px 8px;
      }
    }

    .link {
      position: absolute;
      right: 25%;
      margin-top: 1.5rem;
      bottom: 10%;

      @include media("xs") {
        right: 24%;
      }

      @include media("xxs") {
        right: 22%;
      }
    }

    figure {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      position: relative;

      div {
        flex: 1;
      }

      figcaption {
        flex: 1;
        text-align: center;
      }
    }
  }
}
